$color-black: #111;
//$light-black: #191919;
$color-dark-grey: #333;
$color-grey: #666;
$color-light-grey: #ccc;
$color-dark-white: #eee;
$color-white: #fff;
//$white-80: rgba(255,255,255,.8);
//$light-orange: #ff7e35;
$color-orange: #ec671b;
//$dark-orange: #c75818;
$color-red: #c00;


$color-brand: $color-orange;

$color-text-base: $color-dark-grey;
$color-heading-base: $color-dark-grey;
$color-heading-underline-base: $color-orange;

$color-alert-bg: $color-orange !default;
$color-alert-text: $color-black !default;

// Edit
$color-edit: #5181c6;
