{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="wrapper">

  <header class="header-container container" role="banner">
    <section class="row">
      <div class="col-sm-12 text-center">
        <div class="logo">
          <img class="img-responsive" src="/themes/custom/cangeroes/dist/img/cangeroes-logo-extra-large.png" alt="" />
        </div>
      </div>
    </section>
  </header>

  <main class="main-container container" role="main">
    <section class="row">
      <article class="col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 maintenance-content">
        {{ page.highlighted }}

        <p class="maintenance-message">
          {{ page.content }}
        </p>

        <p>
          Sporthal Lunetten, Zwarte Woud 201, 3524 SG Utrecht.
        </p>
        <p>
          Contact via <a href="mailto:secretaris@cangeroes.nl" target="_blank">secretaris@cangeroes.nl</a>.
        </p>
        <p>
          Tenues zijn te bestellen in de <a href="http://cangeroes.bbclubshop.nl/" target="_blank">webshop</a>.
        </p>
      </article>
    </section>
    <section class="row">
      <div class="col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 text-center">
        <div class="maintenance-social-media">
          <a target="_blank" href="https://www.facebook.com/cangeroes"><i class="fa fa-facebook-square"></i></a>
          <a target="_blank" href="https://twitter.com/Cangeroes1"><i class="fa fa-twitter-square"></i></a>
          <a target="_blank" href="https://instagram.com/explore/tags/cangeroesutrecht/"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer-container container-fluid" role="contentinfo">
    <div class="row">
      <section class="col-sm-12 text-center">
        <div class="region region-footer-copy">
          <section id="block-copyright" class="block copyright">
            <div class="block-content">
              <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>© 2016 Cangeroes. Alle rechten voorbehouden. Website door <a href="http://blockshot.org/">Blockshot</a> en <a href="http://nerdieworks.nl/">Nerdieworks</a>.</p></div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </footer>{# /.footer-container #}

</div>{# /.wrapper #}
